<html>
   <body>
	<form action = "/auth" method = "POST">
	  <div class="container">
	    <h1>Authentication</h1>
	    <p>Please fill in this form to authentication.</p>
	    <hr>

	    <label for="email"><b>Token</b></label>
	    <input type="text" placeholder="Token" name="auth" required>
	    <button type="submit" class="registerbtn">Authenticate</button>
	  </div>

	  <div class="container signin">
	    <p>Need a token? <a href="/register">Register</a>.</p>
	  </div>
	</form>
</body>
</html>
