<html>
   <body>
	<form action = "/register" method = "POST">
	  <div class="container">
	    <h1>Register</h1>
	    <p>Please fill in this form to create an account.</p>
	    <hr>

	    <label for="email"><b>Name</b></label>
	    <input type="text" placeholder="Name" name="name" required>
	    <button type="submit" class="registerbtn">Register</button>
	  </div>

	  <div class="container signin">
	    <p>Want to authenticate? <a href="/auth">Authenticate</a>.</p>
	  </div>
	</form>
</body>
</html>
